#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root * {
  box-sizing: border-box;
}

.tblWrap {
  width: 800px;
}

.tblfilter {
  width: 100%;
  padding: 2rem;
  background: #eee;
}

.tblfilter .searchItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tblfilter input {
  height: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 4px;
}

th {
  padding: 1rem;
  text-align: left;
  font-weight: 600;
}

th{
  background: #333;
  color: #fff;
}

td {
  padding: 0.75rem 1rem;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

th,
td:first-child,
td:last-child {
  text-align: center;
}

tbody tr td:last-child {
  border-right: 1px solid #e0e0e0;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.loading-spinner {
  font-size: 1.2rem;
  padding: 2rem;
}

.txtMail {
  text-decoration: underline;
  font-style: italic;
}